{% extends 'base.html' %}

{% block title %} About {% endblock title %}
{% block body %}
<div class="container-fluid px-0 mb-3">
    <img src="https://cdn.igp.com/raw/upload/assets/images/about-us_cover.png" class="d-block w-100 mx=0" a lt="..."
        style="height: 380px;">
</div>

<div class="container">
    <h1 class="text-center">About Us</h1>

    <p style="font-family: 'Baloo Bhai', 'cursive'; font-size: 20px;">Delight Chocolates is world's best
        chocolate maker! We brings to you the best of all natural and fine
        chocolates so you can enjoy the true flavour.
    </p>
    <p style="font-family: 'Baloo Bhai', 'cursive'; font-size: 20px;">We thrive on creating memories and making
        celebrations memorable. Since chocolates are loved by all, we have a
        varied assortment for you to choose from. No celebration or special occasion is complete without giving in to
        your sweet cravings. Everyone looks forward to chocolates on birthdays, anniversaries and even on festivals. At
        Delight Chocolates, we offer a wide range of chocolates made with love by us for you to send to your loved ones.
    </p>
</div>

{% endblock body %}